<% if modality.present? %>
  <div class="offer-msg-avatar-name", id="message-<%= message.id %>">

      <p class="info-offer-msg">
        <%= simple_form_for(modality, method: :patch, url: modality_path(modality), data: { controller: 'flatpickr' })do |f|%>
          <%= f.input Modality::STEPS[message.occurence].to_sym, :label => "For the #{Modality::STEPS[message.occurence].to_s.capitalize}, #{message.user.first_name} proposes :" %>
          <%= f.submit "ðŸ“ Make a counter-offer", class:"button-counter-offer" %>

        <% end %>

        <%= simple_form_for(modality, method: :patch, url: modality_path(modality), data: { controller: 'flatpickr' })do |f|%>
          <%= f.input :progress, input_html: {value: 2, hidden: true }, label: false %>
          <%= f.submit "âœ”ï¸ Validate the offer", class:"button-agreed-offer" %>
        <% end %>
      </p>
  </div>

<% elsif message.display_both? || (message.display_to_message_user? && message.user == current_user) %>
  <div id="message-<%= message.id %>">
    <%= cl_image_tag message.user.photo.key, crop: :fill, class: "avatar mr-3 msg" %>
      <small>
        <strong><%= message.user.first_name %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= raw(message.content) %></p>
  </div>
<% end %>
