<%# navbar %>
<div class="navbar navbar-expand-sm navbar-light navbar-sucasa">
  <div class="container-fluid">
    <div class="flex-logos">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "sucasa-logo2.png", class: "logo-img" %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <%= link_to "All accommodations", "/accommodations", class: "nav-link" %>
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "About us", "/about", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <% if current_user == nil%>
            <i class="fa-solid fa-user-large" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #6b6b6b;"></i>
            <% elsif current_user.photo.key%>
            <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
            <%= image_tag "avatar_default.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <% if current_user == nil %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Sign-in", new_user_session_path, class: "dropdown-item" %>
            </div>
          <% else %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# modif %>
              <% if current_user.accommodation.present? %>
                <% if current_user.accommodation&.modalities&.last&.nil? %>
                  <%= link_to "Look for an exchange !", accommodations_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to "Messages", edit_exchange_path(Exchange.find(current_user.accommodation.modalities.last.exchange_id)), class: "dropdown-item" %>
                <% end %>
              <% end %>
              <div class="separator-nav"></div>
              <%= link_to "Log out", "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
