<%= render "components/navbar" %>

<div class="container-msg">
  <div class="row">
    <div class="col-3">
      <h4><br>Messages<br></h4>
      <div class="messages-container">
        <% @exchanges_infos.each do |exchange| %>
          <%= link_to edit_exchange_path(exchange[0]) do %>
            <div class="div p-3 <%= exchange[0] == @exchange ? 'active' : '' %>">
              <div class="d-flex align-items-center">
                <%= cl_image_tag exchange[1].photo.key, crop: :fill, class: "avatar mr-3" %>
                <div class="div-left">
                  <div class="name-msg-left"><%= exchange[1].first_name %></div>
                  <div class="msg-left"><%= exchange[2] %></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="chatroom col-5"
      data-controller="exchange-subscription"
      data-exchange-subscription-exchange-id-value="<%= @exchange.id %>">
      <h4><br>Talk to <%= @other_user.first_name %> ... <br><br> </h4>
      <div class="flex-msg-input">
        <div class="messages" data-exchange-subscription-target="messages" style="max-height: 540px; overflow-y: auto;">
          <% @exchange.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <div class="msg-input">
          <%= simple_form_for [@exchange, @message],
          html: { data: { action: "turbo:submit-end->exchange-subscription#resetForm" }, class: "d-flex" } do |f|%>
            <%= f.input :content, placeholder: "Type something", label: false, wrapper_html: {class: "flex-grow-1"} %>
            <%= f.submit "Send", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h4><br>... And shape your exchange <br><br></h4>

      <%#################### Nav tabs bootstrap <%####################%>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-currentuser-tab" data-bs-toggle="pill" data-bs-target="#currentuser" type="button" role="tab" aria-controls="pills-currentuser" aria-selected="true"><%= current_user.first_name %></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-otheruser-tab" data-bs-toggle="pill" data-bs-target="#otheruser" type="button" role="tab" aria-controls="pills-otheruser" aria-selected="false"><%= @other_user.first_name %></button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="currentuser" role="tabpanel" aria-labelledby="currentuser-tab">
            <%= simple_form_for(@my_modality, as: :modality, method: :patch, url: modality_path(@my_modality), data: { controller: 'flatpickr' }) do |f|%>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Duration
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :duration, placeholder: "For how long ?" %> <p style="font-size: 10px;">ðŸ’¡ Agree with your buddy and choose a travel duration.</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Dates
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :check_in, as: :string, label: 'Choose your dates ! ðŸ—“', placeholder: "Pick your dates !",  input_html: { data: { flatpickr_target: "checkIn" } } %> <p style="font-size: 10px;">ðŸ’¡ Decide with your buddy and choose the dates for your exchange.</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Keys
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :keys, placeholder: "How about the keys ? ðŸ—" %> <p style="font-size: 10px;">ðŸ’¡ Explain where you would like to leave the keys (at the office, in-person, to a trusted neighbor, on a key lockbox...).</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Petsitting
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :petsitting, placeholder: "Can you take care of your host's pet ? ðŸ¶" %> <p style="font-size: 10px;">ðŸ’¡ Can you take care of your host's pet ?</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Transportation
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :transportation, placeholder: "Is your transportation available?" %> <p style="font-size: 10px;">ðŸ’¡ If you wish to provide transportation options to your guest, you can discuss it and specify it here (bicycle, car, etc.).</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Others
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :others, placeholder: "Anything else ?" %> <p style="font-size: 10px;">ðŸ’¡ Add any additional information here.</p>
                  <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
          </div>
            <%= f.hidden_field :progress%>
          <% end %>
        </div>


        <div class="tab-pane fade" id="otheruser" role="tabpanel" aria-labelledby="otheruser-tab">
          <%= simple_form_for(@other_user_modality, as: :modality, method: :patch, url: modality_path(@other_user_modality), data: { controller: 'flatpickr' }) do |f|%>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Duration
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :duration, placeholder: "For how long ?" %> <p style="font-size: 10px;">ðŸ’¡ Agree with your buddy and choose a travel duration.</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Dates
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :check_in, as: :string, label: 'Choose your dates ! ðŸ—“', placeholder: "Pick your dates !",  input_html: { data: { flatpickr_target: "checkIn" } } %> <p style="font-size: 10px;">ðŸ’¡ Decide with your buddy and choose the dates for your exchange.</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Keys
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :keys, placeholder: "How about the keys ?" %> <p style="font-size: 10px;">ðŸ’¡ Explain where you would like to leave the keys (at the office, in-person, to a trusted neighbor, on a key lockbox...).</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Petsitting
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :petsitting, placeholder: "Can you take care of your host's pet ? ðŸ¶" %> <p style="font-size: 10px;">ðŸ’¡ Can you take care of your host's pet ?</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Transportation
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :transportation, placeholder: "Is your transportation available?" %> <p style="font-size: 10px;">ðŸ’¡ If you wish to provide transportation options to your guest, you can discuss it and specify it here (bicycle, car, etc.).</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Others
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= f.input :others, placeholder: "Anything else ?" %> <p style="font-size: 10px;">ðŸ’¡ Add any additional information here.</p>
                <%= f.submit "+ Submit" %>
                </div>
              </div>
            </div>
          </div>
            <%= f.hidden_field :progress%>
          <% end %>
        </div>

      </div>
      <%#########################################################%>

      <div class="link-validate">
        <%= link_to "Validate exchange", exchange_path(@exchange) %>
      </div>
    </div>

  </div>
</div>
