<%= render "components/navbar" %>

<div class="container-msg">
  <div class="row" data-controller="exchange-subscription"
       data-exchange-subscription-exchange-id-value="<%= @exchange.id %>"
       data-exchange-subscription-current-user-id-value="<%= current_user.id %>">

    <%= render "exchanges/exchanges_infos", exchanges_infos: @exchanges_infos, exchange: @exchange %>

    <div class="chatroom col-5">
      <h4><br>Talk to <%= @other_user.first_name %> ... <br><br> </h4>
      <% if @my_modality.exchange.messages.first.present? %>
        <div class="flex-msg-input">
          <div class="messages" data-exchange-subscription-target="messages" style="max-height: 540px; overflow-y: auto;">
            <% @exchange.messages.each do |message| %>
              <% if (message.form? && message.user != current_user) %>
                <%= render "messages/message", message: message, modality: @my_modality, occurence: @occurence %>
              <% elsif !(message.form? && message.user == current_user) %>
                <%= render "messages/message", message: message, modality: nil %>
              <% end %>
              <%# if (message.category == 0 && message.user != current_user) %>
                <%#= render "messages/message", message: message, modality: @my_modality %>
              <%# elsif !(message.category == 1 && message.user == current_user) %>
                <%#= render "messages/message", message: message, modality: nil %>
              <%# end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="messages" data-exchange-subscription-target="messages" style="max-height: 540px; overflow-y: auto;">
        </div>
      <% end %>
      <div class="msg-input">
        <%= simple_form_for [@exchange, @message],
        html: { data: { action: "turbo:submit-end->exchange-subscription#resetForm" }, class: "d-flex" } do |f|%>
          <%= f.input :content, placeholder: "Type something", label: false, wrapper_html: {class: "flex-grow-1"} %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>


    <div class="col-4">
      <h4><br>... And shape your exchange <br><br></h4>
      <%= render "modalities/modality_form", modality: @my_modality, other_user: @other_user %>
      <div class="link-validate">
        <%= link_to "Validate exchange", exchange_path(@exchange) %>
      </div>
    </div>
  </div>
</div>
