<h1>Your exchange</h1>

<% if @other_user_modality.review.nil? && @date_today > @other_user_modality.check_out%>
  <div class="container">
    <h3>Comment on your exchange with <%= @other_user_modality.accommodation.user.first_name %> !</h3>
      <%= simple_form_for [@other_user_modality, @review], method: :post, url: modality_reviews_path(@other_user_modality) do |f|%>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :modality_id, value: @other_user_modality.id %>
      <%= f.input :content %>
      <%= f.submit "Publish comment" %>
      <% end %>
  </div>
<% end %>

<div class="container">

  <div class ="m-3">
    <h3>About the modalities</h3>
    <ul>
      <li><%= @other_user_modality.duration %></li>
      <li><%= @other_user_modality.check_in %></li>
      <li><%= @other_user_modality.check_out %></li>
      <li><%= @other_user_modality.keys %></li>
      <li><%= @other_user_modality.petsitting %></li>
      <li><%= @other_user_modality.transportation %></li>
      <li><%= @other_user_modality.others %></li>
    </ul>
  </div>

  <div class ="m-3">
    <h3>About the other user</h3>
    <ul>
     <li><%= @other_user_modality.accommodation.user.first_name %></li>
      <li><%= @other_user_modality.accommodation.user.last_name %></li>
      <li><%= @other_user_modality.accommodation.user.job %></li>
      <li><%= @other_user_modality.accommodation.user.seniority %></li>
      <li><%= @other_user_modality.accommodation.user.bio %></li>
    </ul>
  </div>

  <div class ="m-3">
    <h3>About the other accommodation</h3>
    <ul>
      <li><%= @other_user_modality.accommodation.title %></li>
      <li><%= @other_user_modality.accommodation.description %></li>
      <li><%= @other_user_modality.accommodation.address %></li>
      <li><%= @other_user_modality.accommodation.nb_of_bedrooms %></li>
      <li><%= @other_user_modality.accommodation.nb_of_beds %></li>
      <li><%= @other_user_modality.accommodation.nb_of_bathrooms %></li>
      <li><%= @other_user_modality.accommodation.garden %></li>
      <li><%= @other_user_modality.accommodation.swimming_pool %></li>
      <li><%= @other_user_modality.accommodation.balcony %></li>
      <li><%= @other_user_modality.accommodation.nb_of_tvs %></li>
    </ul>
  </div>

</div>
