<%= render 'components/navbar' %>
<div class="super-accommodation-form">
  <div class="image-container-login">
    <%= image_tag "edit-form.png", class: "logo-img" %>
  </div>
  <div class="accommodation-form">
    <div class="accommodation-text">
    <h2>Modifier les informations du logement</h2>
<%= simple_form_for @accommodation, url: "/accommodations/#{@accommodation.id})", method: :patch do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :nb_of_guests %>
    <%= f.input :nb_of_bedrooms %>
    <%= f.input :nb_of_beds %>
    <%= f.input :nb_of_bathrooms %>
    <%= f.input :garden %>
    <%= f.input :balcony %>
    <%= f.input :swimming_pool %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <%= f.submit "Enregistrer les modifications" %>
<% end %>
    </div>
  </div>
</div>
<%= render 'components/footer' %>
