      <div class="div" data-exchange-subscription-target="modality">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-currentuser-tab" data-bs-toggle="pill" data-bs-target="#currentuser" type="button" role="tab" aria-controls="pills-currentuser" aria-selected="true"><%= current_user.first_name %></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-otheruser-tab" data-bs-toggle="pill" data-bs-target="#otheruser" type="button" role="tab" aria-controls="pills-otheruser" aria-selected="false"><%= @other_user.first_name %></button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent" data-exchange-subscription-target="modality">
          <div class="tab-pane fade show active" id="currentuser" role="tabpanel" aria-labelledby="currentuser-tab">

              <%= simple_form_for(modality, as: :modality, method: :patch, url: modality_path(modality), data: { controller: 'flatpickr', action: "turbo:submit-end->exchange-subscription#resetForm" }) do |f|%>
            <div class="accordion" id="accordionExample">
              <% modality_form.each_with_index do |element, index| %>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading<%=index%>">

                    <% if index == @occurence%>

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=index%>" aria-expanded="true" aria-controls="collapse<%=index%>">
                      <%= "#{element}" %>
                    </button>
                  </h2>
                  <div id="collapse<%=index%>" class="accordion-collapse collapse show" aria-labelledby="heading<%=index%>" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <% if element == "dates" %>
                        <%= f.input "#{element}".to_sym, as: :string, label: false,  input_html: { data: { flatpickr_target: "checkIn" } } %>
                        <%= f.submit "+ Submit" %>
                      <% else %>
                          <%= f.input "#{element}".to_sym, label: false%>
                          <%= f.submit "+ Submit" %>
                      <% end %>
                    </div>
                  </div>

                    <% else %>
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=index%>" aria-expanded="false" aria-controls="collapse<%=index%>">
                      <%= "#{element}" %>
                    </button>
                  </h2>
                  <div id="collapse<%=index%>" class="accordion-collapse collapse" aria-labelledby="heading<%=@modality_input_counter%>" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <% if element == "dates" %>
                        <%= f.input "#{element}".to_sym, as: :string, label: false,  input_html: { data: { flatpickr_target: "checkIn" } } %>
                        <%= f.submit "+ Submit" %>
                      <% else %>
                        <%= f.input "#{element}".to_sym, label: false%>
                        <%= f.submit "+ Submit" %>
                      <% end %>
                    </div>
                  </div>

                    <% end %>
                </div>

              <% end%>
            </div>
              <%= f.hidden_field :progress%>
            <% end %>
          </div>
        </div>
      </div>
