<%= render 'components/navbar' %>

<div class="wrapper">
  <%= render 'components/banner' %>

  <div class="main-container">
      <%# title for listing cards %>
    <div class="title-container">
      <br>
      <h4>Handpicked Houses</h4>
      <h6>Discover all the Home exchange and home standing offers</h6>
    </div>

    <%# card %>
    <div class="container hp">
      <div class="container-all-accommodations">
        <div class="cards-container-wrapper">
          <div class="cards-container scroll">
            <% @accommodations.each do |accommodation| %>
              <%= link_to accommodation do %>
                <div class="card-trip">
                  <div>
                    <%= cl_image_tag accommodation.photos[0].key, height: 270, width: 400, crop: :fill %>
                  </div>
                  <div class="card-trip-infos">
                    <div>
                      <h2> <%= accommodation.address.split.last %></h2>
                      <p><%= accommodation.user.first_name %> · <%= accommodation.user.job %></p>
                    </div>
                    <%= cl_image_tag accommodation.user.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered"  %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%# banner-hp %>
      <div class="banner-hp">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1621112904887-419379ce6824?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80);">
          <div class="container">
            <h1><strong>Experience a unique way to travel</strong></h1>
            <p>Discover the first platform for intra-company home swaps.</p>
            <div class="btn-pp">
              <%= link_to "Discover", "/about", class: "btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# card block 2 %>
    <div class="title-container">
      <br>
      <h4>Spacious Accommodations for Groups</h4>
      <h6>Discover a selection of accommodations for 3 guests and more.</h6>
    </div>
    <div class="cards-container-block-2">
      <div class="cards-container-wrapper">
          <div class="cards-container scroll">
            <% @accommodations_beds.each do |accommodation| %>
              <% if accommodation.nb_of_beds > 2 %>
                <%= link_to accommodation do %>
                  <div class="card-trip">
                    <div>
                      <%= cl_image_tag accommodation.photos[0].key, height: 270, width: 400, crop: :fill %>
                    </div>
                    <div class="card-trip-infos">
                        <div>
                          <h2><%= accommodation.address.split.last %></h2>
                          <p><%= accommodation.user.first_name %> · <%= accommodation.user.job %></p>
                        </div>
                        <div class="name-job">
                        </div>
                        <%= cl_image_tag accommodation.user.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered"  %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <%# reassurance block %>
          <div class="flex-rea-block">
            <div class="flex-article-photo-title">
              <h4><b>The first platform for home exchange among colleagues</b></h4>
            </div>
            <div class="rea-element">
              <div class="flex-rea-elem 1">
                <i class="fa-solid fa-user-group"></i>
                <h6>Collaborative platform</h6>
                <p>Connect with colleagues, strengthen relationships, and promote the sharing economy.</p>
              </div>
              <div class="flex-rea-elem 2" style="margin-top: 8px;">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h6>Cost optimization</h6>
                <p>Save on business and personal travel expenses through our platform.</p>
              </div>
              <div class="flex-rea-elem 3" style="margin-top: 8px;">
                <i class="fa-solid fa-earth-europe"></i>
                <h6>Trusted and secure</h6>
                <p>Enjoy reliable home exchanges within a verified network of employees.</p>
              </div>
              <div class="flex-rea-elem 4">
                <i class="fa-solid fa-leaf"></i>
                <h6>Sustainable travel</h6>
                <p>Contribute to the environment by participating in our eco-friendly home exchange program.</p>
              </div>
            </div>
          </div>


        <%# article %>
        <div class="flex-article">
          <div class="artcile-img">
            <%= image_tag "article.jpg", height: 390, width: 590, crop: :fill, class: "article-img" %>
          </div>
          <div class="article-text">
            <div class="flex-article-photo-title">
              <%= image_tag "Somya.jpg", height: 65, width: 65, crop: :fill, class: "avatar-hp dropdown-toggle", id: "article-user-avatar", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <h5><b>Somya · Sucasa Expert</b> <br>
              Shares her experience</h5>
            </div>
            <p>Sucasa truly transformed the way I travel. The platform's community of like-minded explorers, combined with their secure and user-friendly interface, makes the home exchange process a breeze. Whether you're a seasoned traveler or someone looking for a new adventure, I highly recommend Sucasa for your next vacation.<br> <br> So, if you're ready to embark on a journey of discovery, immerse yourself in new cultures, and build lifelong connections, I encourage you to explore Sucasa.
            </p>
            <div class="btn-article">
              <%= link_to "Read", "/accommodations", class: "btn-article" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'components/footer' %>
