<%= render 'components/navbar' %>
<div class="banner-lp-img">
    <div class="banner about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1621112904887-419379ce6824?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80);">
      <div class="container">
        <div class="banner-lp about">
          <h1>Choose. Propose. Experience.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container-about">
    <div class="container-lp about">
      <div class="container-lp-about1">
        <div class="flex-about-first-block first">
          <div class="img-about">
            <%= image_tag "aboutconnect.png", height: 350, width: 350, crop: :fill, class: "article-img" %>
          </div>
          <div class="about-main-key first-block">
            <h4>The Platform <br>Connecting <br>Employees <br>Worldwide</h4>
            <p><i class="fa-solid fa-globe"></i> 20 Partner Companies</p>
            <p><i class="fa-solid fa-key"></i> +300 exchanges</p>
          </div>
        </div>
      </div>

      <div class="container-lp-about2">
        <div class="flex-about-first-block second">
          <div class="img-about">
            <%= image_tag "testabout.png", height: 330, width: 330, crop: :fill, class: "article-img abouttest" %>
          </div>
          <div class="about-main-key">
            <h4>Discover the World</h4>
            <p>By exchanging homes with colleagues from different departments, locations, or even countries, you can <b>swap your everyday surroundings</b> for exciting new environments, adding a unique twist to your travel experiences.</p>
          </div>
        </div>
      </div>

      <div class="container-lp-about1">
        <div class="flex-about-first-block first smile">
          <div class="img-about">
            <%= image_tag "block5.jpg", height: 330, width: 530, crop: :fill, class: "article-img smile" %>
          </div>
          <div class="about-main-key smile">
        <h4>Experience the<br>Joy of Free Travel</h4>
            <p>Turn your travel dreams into reality, enjoy the freedom to visit new places, immerse yourself in different cultures, and create lifelong memories, all <b>without spending a dime</b> on accommodation.</p>
          </div>
        </div>
      </div>

      <div class="container-lp-about2">
        <div class="flex-about-first-block second">
          <div class="img-about">
            <%= image_tag "aboutecolo.png", height: 330, width: 330, crop: :fill, class: "article-img" %>
          </div>
          <div class="about-main-key">
            <h4>Embrace Sustainable<br>Practices</h4>
            <p>By optimizing the use of existing resources and minimizing the carbon footprint associated with business travel, you contribute to a <b>greener future.</b></p>
          </div>
        </div>
      </div>

      <div class="container-lp-about1">
        <div class="flex-about-first-block first">
          <div class="img-about">
            <%= image_tag "reviewabout.png", height: 330, width: 330, crop: :fill, class: "article-img abouttest" %>
          </div>
          <div class="about-main-key">
          <h4>Foster Meaningful<br>Connections</h4>
            <p>Through SuCasa, you'll not only gain access to free travel but also have the chance to <b>forge meaningful connections</b> with colleagues who share your love for adventure. <br>Exchange tips, swap travel stories, and build lasting friendships with like-minded explorers from various departments and locations, fostering a sense of unity and camaraderie within our organization.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner about2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1621112904887-419379ce6824?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80);">
    <div class="btn-article">
      <%= link_to "Exchange my home", "/accommodations", class: "btn-article about" %>
    </div>
  </div>
</div>
<%= render 'components/footer' %>
